/* transform: scale(-1, 1) */
body {
  background-image: url("images/shopping_street01.png");
  background-repeat: no-repeat;
  background-size: cover;

}

h1,
h3 {
  text-shadow: 2px 2px 2px white;
}

.container-all {
  padding-top: 12px;
  margin: auto;
  max-width: 1000px;
  max-height: 800px
}

.container-race {
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 3rem;
}

.racer-table {
  /* border: 1px solid lightgray; */
  height: 200px;
  margin-left: 0;
}

.racer-table td {
  height: 100px;
  width: 100px;
  /* border: 1px solid lightgray; */
}

#player2-race {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}

#player1-race td.active {
  background: url("images/chikoku-hiyoko.png");
  background-position: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#player2-race td.active {
  background-image: url("images/dendenmushi.png");
  background-position: center;
}

#player3-race td.active {
  background-image: url("images/isoiso-usagi.png");
  background-position: center;
}

/* #goal img {
  opacity: 0.7;
}

#player1-race td#goal {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#player2-race td#goal {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#player1-race td#goal.active {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#player2-race td#goal.active {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} */

.taiyaki {
  width: 170px;
  height: 150px;
  margin: auto;
}
